---
layout: default
title: 'About - Ashley Kunsa'
---

<body id="about_body">
  {% include header.html %}

<div class="row pagecontent">
<div class="small-12 columns">
<h1 class="pagetitle">About Me</h1>
</div>

<div class="row">
<div class="small-12 medium-11 medium-centered columns">
<div style=""><img alt="Ashley Kunsa" src="/img/Ashley_Kunsa.jpg" style="float: right; margin-left: 1em; height: 366px; width: 298px;" />
<p>I hold a PhD in English literature from Duquesne University, where I taught courses in American literature, creative writing, and composition and served as the Assistant Director of the Writing Center. In 2009 I earned an MFA in fiction from Penn State University and in 2004 a BA in English writing and history from the University of Pittsburgh. This fall I will join the faculty at Rocky Mountain College in Billings, MT, as Visiting Assistant Professor of Creative Writing.</p>

<p>My training as a creative writer informs my critical attention to literary form and narrative theory as well as my pedagogical approach to texts both literary and nonliterary. My recent critical work considers post-9/11 American war fiction by Ben Fountain, Phil Klay, and David Abrams in the context of government, military, and media discourses about the Iraq War and the ever-evolving legacy of the Vietnam War. I also study U.S. poetry, drama, and fiction from throughout the twentieth century as well as post-WWII British fiction and poetry.</p>

<p>A native of southwestern PA, I live outside Pittsburgh where I enjoy working out, thrift shopping, and home improvement projects.</p>
</div>
</div>
</div>

 
 </div>
{% include footer.html %}
 </body>
</html>