--- 
layout: default 
title: 'Contact - Ashley Kunsa' 
---

<body id="contact_body">

    {% include header.html %}

    <div class="row pagecontent">
        <div class="row ">
            <h1 class="small-12 small-centered columns pagetitle" style="margin-bottom: 1em;">Contact Me.
                <small style="color: lightgray;">I like getting emails.</small>
            </h1>
        </div>

        <div class="row">
            <div class="small-8 small-centered columns">
                <p style="text-align:center;">If you have questions about my work or my editing services, or if you just want to get in touch, please send me an email through
                    the form below!</p>
            </div>
        </div>

        <div class="row">
            <div class="small-6  small-centered columns">
                <form action="https://getsimpleform.com/messages?form_api_token=88f01a3bc92f4df05906104e808faa55" id="contact" method="post" style="margin-top: 1.5em;">
                    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                    <input type='hidden' name='redirect_to' value='http://www.ashleykunsa.com/thankyou.html' />
                    <!-- all your input fields here.... -->
                    <div class="row">
                        <div class="small-3 columns">
                            <label class="right inline" for="right-label">Your name:</label>
                        </div>

                        <div class="small-9 columns">
                            <input id="right-label" name="Name" placeholder="" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label class="right inline" for="right-label">Your email:</label>
                        </div>

                        <div class="small-9 columns">
                            <input id="right-label" name="Email" placeholder="" type="text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-3 columns">
                            <label class="right inline" for="right-label">Message:</label>
                        </div>

                        <div class="small-9 columns">
                            <textarea id="right-label" name="Message" placeholder="" type="text"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-8 medium-offset-7 columns">
                            <button class="button tiny radius quicksandregular" id="submitbutton" type="submit">Submit</button>
                        </div>
                    </div>

 
                  </form>
                
                <!-- <form action="http://ashleykunsa.com/ftools/process.php" id="contact" method="post" style="margin-top: 1.5em;">
                    <input name="form_tools_form_id" type="hidden" value="1" />
                    <div class="row">
                        <div class="small-3 columns">
                            <label class="right inline" for="right-label">Your name:</label>
                        </div>

                        <div class="small-9 columns">
                            <input id="right-label" name="Name" placeholder="" type="text" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label class="right inline" for="right-label">Your email:</label>
                        </div>

                        <div class="small-9 columns">
                            <input id="right-label" name="Email" placeholder="" type="text" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label class="right inline" for="right-label">Message:</label>
                        </div>

                        <div class="small-9 columns">
                            <textarea id="right-label" name="Message" placeholder="" type="text"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 medium-8 medium-offset-7 columns">
                            <button class="button tiny radius quicksandregular" id="submitbutton" type="submit">Submit</button>
                        </div>
                    </div>
                </form> -->
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>