---
layout: default
title: 'Editing - Ashley Kunsa'
---
<body id="editing_body">

    {%include header.html%}
<div class="row pagecontent">
<div class="small-12 columns">
<h1 class="pagetitle">Editing Services</h1>
</div>

<div class="small-12 columns">
<!-- <div class="sidebar large-5 columns right hide-for-medium-down" style="margin-left:1.5em;">
<div class="sidebarheading">Materials</div>

<ul class="small-10 small-centered columns" style="list-style: none;">
	<li><a href="/pdfs/CV - Ashley Kunsa - Sept2017.pdf"><span id="teachingbutton">Full CV</span></a></li>
	 
	<li>
	<h5 style="margin-top:1.5em; font-family: 'quicksandregular',Arial,sans-serif;">Sample Syllabi:</h5>
	</li>
	<li><a href="/pdfs/UCOR101%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">Freshman Composition</span></a></li>
	<li><a href="/pdfs/ENGL301W%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">Fiction Writing Workshop</span></a></li>
	<li><a href="/pdfs/ENGL220W%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">American Lit., 1865-present</span></a></li>
</ul>
</div> -->

<p>Do you feel wobbly when it comes to grammar, punctuation, and mechanics? Are you worried that your ideas don’t “flow”? Or that your text is too wordy or repetitive? Maybe you’re just looking to spice up a dull passage on p. 14? You’ve come to the right place!</p>

<div class="sidebar large-5 columns right hide-for-medium-down" style="margin-left:1.5em;">
    <div class="sidebarheading">Getting Started</div>
    <p>I’ll provide a *free* sample edit (up to 5 pages) so you can see my work in action and I can offer an estimate on the number of hours your project will require.</p>
  
    <p>I can usually complete 10-15 pages per hour, depending on the amount of attention an individual’s project requires.</p>
	<p>Rate: $30/hour</p>
	<p><a id="cvbutton" href="https://www.ashleykunsa.com/contact.html">Contact Me!</a></p>
 
    </div>  

<p>I have more than a dozen years of experience editing and proofreading academic and general interest work—including second-language (ESL) work—across a wide range of disciplines: accounting, art history, biology, chemistry, economics, education, engineering, finance, history, religion, technology, etc. I’ve worked on dissertations, master’s theses, magazine articles, journal articles, academic monographs, and websites.</p>

<p>On top of all this, I am, by training and trade, a writer—both scholarly and creative—and I love (love [love]) the written word. I bring that passion and excitement to all projects I work on.</p>

<p>If you think you’d benefit from assistance on a project big (e.g., book, dissertation) or small (e.g., article, prospectus), please <a href="https://www.ashleykunsa.com/contact.html">reach out</a>! <!--I’ll provide a *free* sample edit (up to 5 pages) so you can see my work in action and I can offer an estimate on the number of hours your project will require.--></p>

<p>I look forward to working with you!</p>


 
<div class="sidebar large-5 columns right hide-for-large-up">
 

<div class="sidebarheading">Getting Started</div>
<p>I’ll provide a *free* sample edit (up to 5 pages) so you can see my work in action and I can offer an estimate on the number of hours your project will require.</p>

<p>I can usually complete 10-15 pages per hour, depending on the amount of attention an individual’s project requires</p>
<p>Rate: $30/hour	</p>
</div>  
</div>
</div>

{%include footer.html%}
</body>
</html>