---
title: Ashley Kunsa
---
<!DOCTYPE HTML>
<!--
	Standout by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	{%include head.html%}
	<body class="is-preload">

		<!-- Page wrapper -->
			<div id="page-wrapper">

				{%include header_and_nav.html%}
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h1>Writer. Teacher. Editor.</h1>
							<div class="content">
								<p>This is some snappy text mentioning the core parts of what you want people to be doing. Namely looking at your writing and <a href="#">paying you for editing</a>.</p>
								<ul class="actions special">
									<li><a href="portfolio/" class="button large next">My Work</a></li>
								</ul>
							</div>
						</div>
					</section>

				{%include about-footer.html%}

				<!-- Copyright -->
					<section class="wrapper style2 copyright">
						<div class="inner">
							&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet.
						</div>
					</section>

			</div>

		{%include scripts.html%}

	</body>
</html>