---
title: My Work
---

<!DOCTYPE html>

<html>
  {%include head.html%}
  <body class="is-preload">
    <!-- Page wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      {%include header_and_navSUBPAGES.html%}

      <!-- Main -->
      <section id="main" class="wrapper style2">
        <div class="inner">
          <header class="major special">
            <h1>My Work</h1>
            <p>
              If you have any questions about my work, or would like to
              collaborate, <a href="#">get in touch.</a>
            </p>
          </header>
          <ul class="tabs">
            <li>
              <h3>Home</h3>
              <div class="gallery">
                <a href="/creative-writing/fiction-publications/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Fiction Publications</span
                  ></a
                >

                <a href="/teaching/teaching-overview/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Teaching Overview</span
                  ></a
                >

                <a
                  href="http://www.tandfonline.com/doi/abs/10.1080/00111619.2011.574747#.Uu2v2D2wJOR"
                  target="_blank"
                  class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay fs-16"
                    >“History, Hair, and Reimagining Racial Categories in Junot
                    Díaz’s The Brief Wondrous Life of Oscar Wao.”
                    <em>Critique: Studies in Contemporary Fiction</em
                    ><i class="fas fa-external-link-alt"></i></span
                ></a>

                <a href="/teaching/teaching-statement/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Teaching Statement</span
                  ></a
                >

                <a href="/creative-writing/poetry-publications/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Poetry Publications</span
                  ></a
                >

                <a
                  href="/creative-writing/nonfiction-publications/"
                  class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Nonfiction Publications</span
                  ></a
                >

                <a href="#" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Full CV
                    <span class="fs-12" style="display: inline;">(pdf)</span>
                  </span></a
                >

                <a href="/editing/academic-editing/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Academic Editing</span
                  ></a
                >

                <a href="/editing/developmental-editing/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Developmental Editing</span
                  ></a
                >

                <a
                  href="http://muse.jhu.edu/journals/journal_of_modern_literature/summary/v033/33.1.kunsa.html"
                  target="_blank"
                  class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay fs-16"
                    >“‘Maps of the World in Its Becoming’: Post-Apocalyptic
                    Naming in Cormac McCarthy’s The Road.”
                    <em>Journal of Modern Literature</em
                    ><i class="fas fa-external-link-alt"></i></span
                ></a>

                <!-- <a href="#" class="dimmed"
                  ><img
                    src="###"
                    alt=""
                  /><span class="text-overlay">Fiction Publications</span></a
				> -->
              </div>
            </li>
            <li>
              <h3>Creative Writing</h3>
              <div class="gallery">
                <a href="/creative-writing/fiction-publications/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Fiction Publications</span
                  ></a
                >

                <a href="/creative-writing/poetry-publications/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Poetry Publications</span
                  ></a
                >
                <a
                  href="/creative-writing/nonfiction-publications/"
                  class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Nonfiction Publications</span
                  ></a
                >

                <a href="/creative-writing/awards-and-honors/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Awards &amp; Honors</span
                  ></a
                >

                <a href="#" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Link to fiction piece</span
                  ></a
                >

                <a href="#" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Link to poetry piece</span
                  ></a
                >
                <a href="#" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Link to nonfiction piece</span
                  ></a
                >
                <a href="#" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Full CV
                    <span class="fs-12" style="display: inline;">(pdf)</span>
                  </span></a
                >
              </div>
            </li>
            <li>
              <h3>Scholarship</h3>
              <div class="gallery">
                <a
                  href="http://www.tandfonline.com/doi/abs/10.1080/00111619.2011.574747#.Uu2v2D2wJOR"
                  target="_blank"
                  class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay fs-16"
                    >“History, Hair, and Reimagining Racial Categories in Junot
                    Díaz’s The Brief Wondrous Life of Oscar Wao.”
                    <em>Critique: Studies in Contemporary Fiction</em
                    ><i class="fas fa-external-link-alt"></i></span
                ></a>
                <a
                  href="http://muse.jhu.edu/journals/journal_of_modern_literature/summary/v033/33.1.kunsa.html"
                  target="_blank"
                  class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay fs-16"
                    >“‘Maps of the World in Its Becoming’: Post-Apocalyptic
                    Naming in Cormac McCarthy’s The Road.”
                    <em>Journal of Modern Literature</em
                    ><i class="fas fa-external-link-alt"></i></span
                ></a>
                <a href="/scholarship/scholarly-presentations/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Scholarly Presentations</span
                  ></a
                ><a href="/scholarship/dissertation/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Dissertation</span
                  ></a
                >
                <a href="#" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Full CV
                    <span class="fs-12" style="display: inline;">(pdf)</span>
                  </span></a
                >
              </div>
            </li>
            <li>
              
              <h3>Teaching</h3>
              <div class="gallery">
                
                <a href="/teaching/teaching-overview/" class="dimmed"
                ><img src="/images/slides/zslide01.jpg" alt="" /><span
                  class="text-overlay"
                  >Teaching Overview
                  <span class="fs-12" style="display: inline;">(pdf)</span>
                </span></a
              >
                
                <a href="/teaching/courses-taught/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Courses Taught
                    <span class="fs-12" style="display: inline;">(pdf)</span>
                  </span></a
                >
               
                <a href="/teaching/teaching-statement/" class="dimmed"
                  ><img src="/images/slides/zslide01.jpg" alt="" /><span
                    class="text-overlay"
                    >Teaching Statement
                    <span class="fs-12" style="display: inline;">(pdf)</span>
                  </span></a
                >
                <a href="#" class="dimmed"
                ><img src="/images/slides/zslide01.jpg" alt="" /><span
                  class="text-overlay"
                  >Full CV
                  <span class="fs-12" style="display: inline;">(pdf)</span>
                </span></a
              >
              </div>
            </li>
            <li><!-- -------------------------------------------------------------------------------------------------------------------------------------- -->
              <h3>Editing</h3>
              <div class="gallery">
                 
                <a href="/editing/academic-editing/" class="dimmed"
                ><img src="/images/slides/zslide01.jpg" alt="" /><span
                  class="text-overlay"
                  >Academic Editing</span
                ></a
              >

              <a href="/editing/developmental-editing/" class="dimmed"
                ><img src="/images/slides/zslide01.jpg" alt="" /><span
                  class="text-overlay"
                  >Developmental Editing</span
                ></a
              >
              <a href="/editing/get-a-quote/" class="dimmed"
                ><img src="/images/slides/zslide01.jpg" alt="" /><span
                  class="text-overlay"
                  >Get a Quote</span
                ></a
              >

              <a href="/editing/past-projects/" class="dimmed"
                ><img src="/images/slides/zslide01.jpg" alt="" /><span
                  class="text-overlay"
                  >Past Projects</span
                ></a
              >
              </div>
            </li>
          </ul>
        </div>
      </section>

      {%include about-footer.html%}

      <!-- Copyright -->
      <section class="wrapper style2 copyright">
        <div class="inner"></div>
      </section>
    </div>

    {%include scripts.html%}
  </body>
</html>
