---
layout: default
title: 'Thank You'
---


<body id="contact_body">
{%include header.html%}
<div class="row pagecontent">
<div class="row ">
<h1 class="small-12 small-centered columns pagetitle" style="margin-bottom: 1em;">Contact Me. <small style="color: lightgray;">I like getting emails.</small></h1>
</div>

<div class="row">
<div class="small-8 small-centered columns">
<p style="text-align:center;">Thanks! I&#39;ll be in touch!</p>
</div>
</div>
</div>

{%include footer.html%}

</body>
</html>
