<footer>
  <div class="row">
    <div class="small-12 columns">
      <em>&copy;
        <a href="http://www.ashleykunsa.com">Ashley Kunsa</a>- design and code by
        <a alt="Brad Coffield.com" href="http://www.bradcoffield.com" target="_blank">Brad Coffield</a>
      </em>
    </div>
  </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<!-- <script src="js/stickyFooter.js"></script> -->
<script>
  $(document).foundation();
</script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "253ab1cd526b445e9e07d4960930a850"}'></script><!-- End Cloudflare Web Analytics -->
<!-- Piwik -->
<!-- <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function () {
    var u = (("https:" == document.location.protocol) ? "https" : "http") + "://ashleykunsa.com/piwik/";
    _paq.push(["setTrackerUrl", u + "piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0]; g.type = "text/javascript";
    g.defer = true; g.async = true; g.src = u + "piwik.js"; s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript>
  <img src="http://ashleykunsa.com/piwik/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript> -->
<!-- End Piwik Code -->
<!-- Piwik Image Tracker -->
<!-- <noscript>
  <img src="http://ashleykunsa.com/piwik/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
</noscript> -->
<!-- End Piwik -->