<footer>
  <div class="row">
    <div class="small-12 columns">
      <em>&copy;
        <a href="http://www.ashleykunsa.com">Ashley Kunsa</a>- design and code by
        <a alt="Brad Coffield.com" href="http://www.bradcoffield.com" target="_blank">Brad Coffield</a>
      </em>
    </div>
  </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<!-- <script src="js/stickyFooter.js"></script> -->
<script>
  $(document).foundation();
</script>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "253ab1cd526b445e9e07d4960930a850"}'></script><!-- End Cloudflare Web Analytics -->
 