<!DOCTYPE HTML>
 
<html>
	{%include head.html%}
	<body class="is-preload">

		<!-- Page wrapper -->
			<div id="page-wrapper">

				{%include header_and_navSUBPAGES.html%}
				<!-- Main -->
					<section id="main" class="wrapper style2">
						<div class="inner">
							<header class="major special mb0">
								<h1>{{title}}</h1>
							 
							</header>
							<a href="#" class="image main mb4"
  ><img src="/images/iceball-unsplash2.jpg" alt=""
/></a>
                            {{ content }}
						
						</div>
					</section>

				{%include about-footer.html%}

				<!-- Copyright -->
					<section class="wrapper style2 copyright">
						<div class="inner">
							&copy; Untitled. All rights reserved. Lorem ipsum dolor sit amet.
						</div>
					</section>

			</div>

	{%include scripts.html%}

	</body>
</html>