<header>
<div id="logo"><span style="">a</span>k</div>

<nav id="nav-primary">
<ul>
	<li id="nav-research"><a class="icon-book" href="/research.html"><span class="nav-text">Research</span></a></li>
	<li id="nav-cr"><a class="icon-pencil" href="/creativewriting.html"><span class="nav-text">Creative&nbsp;Writing</span></a></li>
	<li id="nav-teaching"><a class="icon-group" href="/teaching.html"><span class="nav-text">Teaching</span></a></li>
	<li id="nav-about"><a class="icon-quote" href="/about.html"><span class="nav-text">About</span></a></li>
	<li id="nav-contact"><a class="icon-mail" href="/contact.html"><span class="nav-text">Contact</span></a></li>
</ul>
</nav>
</header>