@import "_sass/libs/vars";
@import "_sass/libs/_functions";
@import "_sass/libs/_mixins";
@import "_sass/libs/_vendor";
@import "_sass/libs/_breakpoints";
@import "_sass/libs/_html-grid";
@import "_sass/libs/_fixed-grid";
@import "_sass/_mine";
@import "font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:600");

/*
	Standout by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      361px,
      480px,
    ),
    xxsmall: (
      null,
      360px,
    ),
  )
);

// Mixins.

@mixin color($p) {
  @include color-typography($p);
  @include color-box($p);
  @include color-button($p);
  @include color-form($p);
  @include color-list($p);
  @include color-section($p);
  @include color-table($p);
  @include color-contact-icons($p);
  @include color-split($p);
  @include color-tabs($p);
}

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Base.

@import "_sass/base/_reset";
@import "_sass/base/_page";
@import "_sass/base/_typography";

// Component.

@import "_sass/components/_row";
@import "_sass/components/_box";
@import "_sass/components/_button";
@import "_sass/components/_form";
@import "_sass/components/_icon";
@import "_sass/components/_image";
@import "_sass/components/_list";
@import "_sass/components/_actions";
@import "_sass/components/_tabs";
@import "_sass/components/_icons";
@import "_sass/components/_contact-icons";
@import "_sass/components/_section";
@import "_sass/components/_table";
@import "_sass/components/_wrapper";
@import "_sass/components/_gallery";
@import "_sass/components/_split";

// Layout.

@import "_sass/layout/_header";
@import "_sass/layout/_menu";
@import "_sass/layout/_banner";
@import "_sass/layout/_main";
@import "_sass/layout/_footer";
