---
layout: default
title: 'Research - Ashley Kunsa'
---

<body id="research_body">

    {%include header.html%}
<div class="row pagecontent">
<div class="row">
<div class="small-12 columns">
<h1 class="pagetitle" style="margin-bottom: .5em;">Research</h1>
</div>
</div>

<div class="row">
<div class="small-8 small-centered columns center" style="margin-bottom: 2em;">
<p><em>My research interests include contemporary fiction, twentieth-century American literature, war literature, the American short story, and media studies.</em></p>
</div>
</div>

<div class="row">
<div class="small-12 medium-7 columns">
<h3>Publications</h3>

<p class="hindent">&ldquo;History, Hair, and Reimagining Racial Categories in Junot D&iacute;az&rsquo;s <em>The Brief Wondrous Life of Oscar Wao</em>.&rdquo; <em>Critique: Studies in Contemporary Fiction </em>54.2 (2013): 211&ndash;24. Print. <a href="http://www.tandfonline.com/doi/abs/10.1080/00111619.2011.574747#.Uu2v2D2wJOR" target="_blank">&nbsp;Abstract</a></p>

<p class="hindent" style="margin-bottom: 1.5em;">&ldquo;&lsquo;Maps of the World in Its Becoming&rsquo;: Post-Apocalyptic Naming in Cormac McCarthy&rsquo;s <em>The Road</em>.&rdquo; <em>Journal of Modern Literature </em>33.1 (2009): 57&ndash;74. Print. Reprinted in <em>Cormac McCarthy&rsquo;s </em>The Road <em>(Bloom&rsquo;s Guides)</em>. Ed. Harold Bloom. New York: Chelsea House, 2011. 91&ndash;107. Print. <a href="http://muse.jhu.edu/journals/journal_of_modern_literature/summary/v033/33.1.kunsa.html" target="_blank">&nbsp;Abstract</a></p>

<h3>Selected Presentations</h3>

<p class="hindent">&ldquo;It&rsquo;s Just Not that Simple: <em>Redeployment </em>and the Just/Unjust Divide.&rdquo; American Literature Association Annual Conference, Boston, MA, May 25&ndash;28, 2017.</p>

<p class="hindent">&ldquo;Revising the 2003 War in Iraq: Genre Switching and Public Discourse in David Abrams&rsquo; <em>Fobbit</em>.&rdquo; International Conference on Narrative, Lexington, KY, Mar. 23&ndash;26, 2017.</p>

<p class="hindent">&ldquo;Just Like a Movie, Only More So: Representation, Reality, and Embedded Reporting in<em> Billy Lynn&rsquo;s Long Halftime Walk</em>,&rdquo; Pop Cultural Association/American Culture Association National Conference, Seattle, WA, Mar. 22&ndash;25, 2016.</p>
</div>

<div class="small-12 medium-4 medium-offset-1 columns sidebar">
<div class="sidebarheading">Current Project</div>

<p>My current project examines the ways in which American fiction of the 2003 Iraq War variously engages, interrogates, and critiques official-media constructions of the conflict, and how this fiction operates within the shadow of the Vietnam War. This project is tentatively titled &quot;Iraq War Redux: American Fiction Rewrites OIF.&quot;</p>

<p>I am also at work on an essay about Just War Theory and Phil Klay&#39;s <em>Redeployment</em>; this piece is slated for inclusion in an interdisciplinary collection focused on challenges to JWT in contemporary American narrative.</p>
</div>

<div class="small-12 medium-4 medium-offset-1 columns"><a href="/pdfs/CV - Ashley Kunsa - Sept2017.pdf"><span id="cvbutton">Full CV</span></a></div>
</div>
</div>

{%include footer.html%}

</body>
</html>