---
layout: default
title: 'Teaching - Ashley Kunsa'
---
<body id="teaching_body">

    {%include header.html%}
<div class="row pagecontent">
<div class="small-12 columns">
<h1 class="pagetitle">Teaching</h1>
</div>

<div class="small-12 columns">
<div class="sidebar large-5 columns right hide-for-medium-down" style="margin-left:1.5em;">
<div class="sidebarheading">Materials</div>

<ul class="small-10 small-centered columns" style="list-style: none;">
	<li><a href="/pdfs/CV - Ashley Kunsa - Sept2017.pdf"><span id="teachingbutton">Full CV</span></a></li>
	<!--   <li>
            <div id="teachingbutton"><a href="#">Teaching Philosophy</a>
            </div>
        </li> --><!--<li><div id="teachingbutton"><a href="#">Courses Taught - 2006-14</a></div></li>-->
	<li>
	<h5 style="margin-top:1.5em; font-family: 'quicksandregular',Arial,sans-serif;">Sample Syllabi:</h5>
	</li>
	<li><a href="/pdfs/UCOR101%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">Freshman Composition</span></a></li>
	<li><a href="/pdfs/ENGL301W%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">Fiction Writing Workshop</span></a></li>
	<li><a href="/pdfs/ENGL220W%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">American Lit., 1865-present</span></a></li>
</ul>
</div>

<p>As a teacher of writing and literature, I seek to emulate for my students those character traits that make us all better readers, writers, and thinkers: intellectual curiosity, genuine commitment, a willingness to take risks, and a passion for revision. My classroom is a place where all students, regardless of their level of skill and familiarity, can feel comfortable and welcome, a place where they can engage with others in the serious yet open pursuit of making meaning.</p>

<p>I have enjoyed teaching under- and upperclassmen, traditional and nontraditional students, writing workshops, literature surveys, and freshman composition courses. My favorite course to teach, by far, is the one that surprises students&mdash;surprises them because they learn something unexpected about their abilities, because they begin to see old ideas in a fresh light, because they embrace subjects they&rsquo;ve previously considered not worth their time.</p>

<p>In 2016 I co-founded a creative writing group for student veterans and service members at Duquesne University, the DU Dog Tags Literary Society. In 2017 I led a creative writing group at a local vet center; this project served U.S. veterans and their adult family members and was supported by a generous grant from Pennsylvania Council on the Arts. To learn more, go to<a href="http://www.vetswrite.com" target="_blank"> www.vetswrite.com</a>.</p>

<p>For additional information about my teaching, including my professional activities, awards, and experience teaching creative writing to high school students, please see my <a href="/CV.html">CV</a>.</p>

<div class="sidebar large-5 columns right hide-for-large-up">
<div class="sidebarheading">Materials</div>

<ul class="small-10 small-centered columns" style="list-style: none;">
	<li><a href="/CV.html/pdfs/CV - Ashley Kunsa - Sept2017.pdf"><span id="teachingbutton">Full CV</span></a></li>
	<!--  <li>
            <div id="teachingbutton"><a href="#">Teaching Philosophy</a>
            </div>
        </li> --><!--<li><div id="teachingbutton"><a href="#">Courses Taught - 2006-14</a></div></li>-->
	<li>
	<h5 style="margin-top:1.5em; font-family: 'quicksandregular',Arial,sans-serif;">Sample Syllabi:</h5>
	</li>
	<li><a href="/pdfs/UCOR101%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">Freshman Composition</span></a></li>
	<li><a href="/pdfs/ENGL301W%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">Fiction Writing Workshop</span></a></li>
	<li><a href="/pdfs/ENGL220W%20Syllabus%20-%20Ashley%20Kunsa.pdf"><span id="teachingbutton">American Lit., 1865-present</span></a></li>
</ul>
</div>
</div>
</div>

{%include footer.html%}
</body>
</html>